:root{
    --color-blue: rgb(104,170,217);
    --color-black: rgb(51,51,51);
    --color-soft-black: rgb(85,85,85);
    --color-white: rgb(225,224,224);
    --color-red: rgb(222,50,58);
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-black);
}
header div.logo a img{
    width: 150px;
}
header nav.menu ul{
    display: flex;
}
header nav.menu ul li{
    list-style: none;
}
header nav.menu ul li a{
    color: var(--color-white);
    text-decoration: none;
}
li + li{
    margin-left: 20px;
}
header nav.menu ul li ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 9;
}
header nav.menu ul li ul li{
    text-align: start;
}
header button.menu-toggle{
    display: none;
}