body, nav, ul, header{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    height: 20px;
    padding: 20px;
    background: linear-gradient(to right, rgb(194, 10, 194), rgb(156, 7, 156));
}

header nav ul{
    
    display: block;
    position: relative;
    list-style: none;
    float: right;
    
}
header nav ul li{
    float: left;
}
header nav ul li a{
    padding: 5px;
    transition: all 0.2s;
    text-align: center;
    display: block;
    color: #fff;
    text-decoration: none;
}
header nav ul li a.main-menu:hover{
    padding: 15px;
    color: rgb(194, 10, 194);
    background-color: #fff;
    box-shadow: 2px 2px 2px #ccc;
}
/*segundo menu*/
ul ul{
    position: absolute;
    background-color: rgb(131, 129, 131);
    float: left;
}
ul ul.sub-menu{
    display: none;
}
.test{
    display: inline;
}
ul ul li a{
    text-align: center;
    padding: 15px;
    transition: all 0.4s ;
}
ul ul li a:hover{
    border-bottom: rgb(85, 84, 85) 2px solid;
}
ul ul li{
    float: none;

    padding: 10px;
}
li+li{
    margin-left: 20px;
}
